In [230]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import io

In [231]:
data_1 = pd.read_csv('Animal_Sound.csv', delimiter = ',')

In [232]:
data_1.head()

  Frequency (Hz),Duration (ms),Harmonics,Amplitude (dB),Animal (0=Cat, 1=Dog)
0                                      25,120,8,60,0
1                                     150,80,12,75,0
2                                     500,200,5,82,1
3                                    300,150,10,70,1
4                                     50,100,15,65,0

In [233]:
with open('Animal_Sound.csv', 'r') as file:
    lines = file.readlines()
columns = ['Frequency (Hz)', 'Duration (ms)', 'Harmonics', 'Amplitude (dB)', 'Animal (0=Cat, 1=Dog)']
cleaned_data = '\n'.join([line.strip().replace('"', '') for line in lines[1:]])
data = pd.read_csv(io.StringIO(cleaned_data), header=None, names=columns)

In [234]:
data

,Frequency (Hz),Duration (ms),Harmonics,Amplitude (dB),"Animal (0=Cat, 1=Dog)"
0,25,120,8,60,0
1,150,80,12,75,0
2,500,200,5,82,1
3,300,150,10,70,1
4,50,100,15,65,0
5,400,180,6,80,1
6,200,90,9,72,0
7,450,220,4,85,1

In [235]:
data1 = data.iloc[:,:4]

In [236]:
data1

   Frequency (Hz)  Duration (ms)  Harmonics  Amplitude (dB)
0              25            120          8              60
1             150             80         12              75
2             500            200          5              82
3             300            150         10              70
4              50            100         15              65
5             400            180          6              80
6             200             90          9              72
7             450            220          4              85

In [237]:
data1.loc[:, 'B'] = 1
data1

   Frequency (Hz)  Duration (ms)  Harmonics  Amplitude (dB)  B
0              25            120          8              60  1
1             150             80         12              75  1
2             500            200          5              82  1
3             300            150         10              70  1
4              50            100         15              65  1
5             400            180          6              80  1
6             200             90          9              72  1
7             450            220          4              85  1

In [238]:
X = np.array(data1)
X

array([[ 25, 120,   8,  60,   1],
       [150,  80,  12,  75,   1],
       [500, 200,   5,  82,   1],
       [300, 150,  10,  70,   1],
       [ 50, 100,  15,  65,   1],
       [400, 180,   6,  80,   1],
       [200,  90,   9,  72,   1],
       [450, 220,   4,  85,   1]])

In [239]:
Y = np.array(data.iloc[:,4:])
Y

array([[0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1]])

In [240]:
Transpose = X.T
Transpose

array([[ 25, 150, 500, 300,  50, 400, 200, 450],
       [120,  80, 200, 150, 100, 180,  90, 220],
       [  8,  12,   5,  10,  15,   6,   9,   4],
       [ 60,  75,  82,  70,  65,  80,  72,  85],
       [  1,   1,   1,   1,   1,   1,   1,   1]])

In [241]:
multiple = np.dot(Transpose, X)
multiple

array([[768125, 354000,  14250, 162650,   2075],
       [354000, 182200,   8690,  86180,   1140],
       [ 14250,   8690,    691,   4933,     69],
       [162650,  86180,   4933,  43883,    589],
       [  2075,   1140,     69,    589,      8]])

In [242]:
inverse = np.linalg.inv(multiple)
inverse

array([[ 5.71042672e-05, -8.19979425e-05,  1.23392332e-04,
        -6.98312560e-04,  4.72222909e-02],
       [-8.19979425e-05,  3.06460029e-04,  1.58163690e-03,
         6.83399160e-04, -8.63592191e-02],
       [ 1.23392332e-04,  1.58163690e-03,  3.51505784e-02,
         7.68361168e-04, -6.17132474e-01],
       [-6.98312560e-04,  6.83399160e-04,  7.68361168e-04,
         1.25032571e-02, -8.43438981e-01],
       [ 4.72222909e-02, -8.63592191e-02, -6.17132474e-01,
        -8.43438981e-01,  6.76038696e+01]])

In [243]:
matrix_multiple = np.dot(inverse, Transpose)
matrix_multiple

array([[-2.10147050e-03, -1.66463847e-03,  2.73016771e-03,
         4.40592377e-03, -1.66172145e-03,  1.79717293e-04,
         2.09535615e-03, -3.98333451e-03],
       [ 2.02308051e-03, -3.90752845e-03, -2.11926906e-03,
        -1.33528742e-03,  8.33238546e-03,  1.66163198e-04,
        -1.17379335e-02,  8.57838922e-03],
       [-9.69449403e-02,  7.34135624e-03, -3.50420408e-04,
         6.24218263e-02,  1.24402985e-01, -1.07085355e-02,
        -7.84294768e-02, -7.73279391e-03],
       [-2.25465789e-02,  5.34506862e-02, -2.68065389e-02,
        -6.75112645e-02,  1.42224377e-02,  5.11858083e-03,
        -1.44458050e-02,  5.85184825e-02],
       [ 2.87792192e+00, -2.88503756e+00,  1.69551239e+00,
         3.60462058e+00, -2.75145865e+00, -2.29786824e-01,
         2.99419915e+00, -4.30597100e+00]])

In [244]:
matrix = np.dot(matrix_multiple, Y)
matrix

array([[ 0.00333247],
       [ 0.00529   ],
       [ 0.04363008],
       [-0.03068074],
       [ 0.76437514]])

In [245]:
data

,Frequency (Hz),Duration (ms),Harmonics,Amplitude (dB),"Animal (0=Cat, 1=Dog)"
0,25,120,8,60,0
1,150,80,12,75,0
2,500,200,5,82,1
3,300,150,10,70,1
4,50,100,15,65,0
5,400,180,6,80,1
6,200,90,9,72,0
7,450,220,4,85,1

In [246]:
# Where Z = W1X1 + W2X2 + W3X3 + W4X4 + B
W1 = 0.00333247
W2 = 0.00529
W3 = 0.04363008
W4 = -0.03068074
B = 0.76437514

In [247]:
Z1 = (W1*25 + W2*120 + W3*8 + W4*60 + B)
Z1

-0.009316870000000255

In [248]:
Z = W1*data.iloc[:,0] + W2*data.iloc[:,1] + W3*data.iloc[:,2] + W4*data.iloc[:,3] + B
Z

0   -0.009317
1   -0.090049
2    1.190940
3    0.846265
4    0.120202
5    0.856884
6    0.090627
7    0.994444
dtype: float64

In [249]:
data.loc[:,'Z'] = Z
data.astype(float)

,Frequency (Hz),Duration (ms),Harmonics,Amplitude (dB),"Animal (0=Cat, 1=Dog)",Z
0,25.0,120.0,8.0,60.0,0.0,-0.009317
1,150.0,80.0,12.0,75.0,0.0,-0.090049
2,500.0,200.0,5.0,82.0,1.0,1.190940
3,300.0,150.0,10.0,70.0,1.0,0.846265
4,50.0,100.0,15.0,65.0,0.0,0.120202
5,400.0,180.0,6.0,80.0,1.0,0.856884
6,200.0,90.0,9.0,72.0,0.0,0.090627
7,450.0,220.0,4.0,85.0,1.0,0.994444

In [276]:
import math
def classify_g (Z):
    g = 1 / (1 + math.exp(-Z))
    if g > 0.6:
        return 1
    else:
        return 0
Z = -0.009317
result = classify_g (Z)
print(result)

0

# Comparing my Logistic Reg model to the original classification

In [277]:
Z_Series = pd.DataFrame(data['Z'])
Z_Series['classify_g'] = data['Z'].apply(classify_g)
Z_Series

          Z  classify_g
0 -0.009317           0
1 -0.090049           0
2  1.190940           1
3  0.846265           1
4  0.120202           0
5  0.856884           1
6  0.090627           0
7  0.994444           1

In [278]:
data.loc[:,'classify_g'] = Z_Series['classify_g']
data

,Frequency (Hz),Duration (ms),Harmonics,Amplitude (dB),"Animal (0=Cat, 1=Dog)",Z,classify_g
0,25,120,8,60,0,-0.009317,0
1,150,80,12,75,0,-0.090049,0
2,500,200,5,82,1,1.190940,1
3,300,150,10,70,1,0.846265,1
4,50,100,15,65,0,0.120202,0
5,400,180,6,80,1,0.856884,1
6,200,90,9,72,0,0.090627,0
7,450,220,4,85,1,0.994444,1

In [279]:
# From my comparison, they are the same. Whivh means that the model is correct

In [280]:
data_2 = data.drop(columns = ['Z','classify_g'], axis = 1)
data_2

,Frequency (Hz),Duration (ms),Harmonics,Amplitude (dB),"Animal (0=Cat, 1=Dog)"
0,25,120,8,60,0
1,150,80,12,75,0
2,500,200,5,82,1
3,300,150,10,70,1
4,50,100,15,65,0
5,400,180,6,80,1
6,200,90,9,72,0
7,450,220,4,85,1